<div class="container">
    <div class="row row--grid">
        <!-- sign in -->
        <div class="col-12">
            <div class="sign">
                <div class="sign__content">
                    <!-- authorization form -->
                    <form [formGroup]="form" class="sign__form">
                        <a [routerLink]="['/']"  class="sign__logo">
                            <img src="assets/img/logo.svg" alt="">
                        </a>

                        <div class="sign__group">
                            <input type="email" formControlName="email" class="sign__input" placeholder="Email">
                            <app-error-field [errorMsg]="getForm.email"></app-error-field>
                        </div>

                        <div class="sign__group">
                            <input type="password" formControlName="password" class="sign__input" placeholder="Password">
                            <app-error-field [errorMsg]="getForm.password"></app-error-field>
                        </div>

                        <div class="sign__group sign__group--checkbox">
                            <input id="remember" name="remember" type="checkbox" checked="checked">
                            <label for="remember">Remember Me</label>
                        </div>
                        
                        <button class="sign__btn" [disabled]="!form.valid" (click)="loginAction()" type="button">Sign in</button>

                        <span class="sign__text">Don't have an account? <a [routerLink]="['/auth/register']">Sign up!</a></span>

                        <span class="sign__text"><a [routerLink]="['/auth/forgot-password']">Forgot password?</a></span>
                    </form>
                    <!-- end authorization form -->
                </div>
            </div>
        </div>
        <!-- end sign in -->
    </div>
</div>