	<div class="container">
			<div class="row row--grid">
				<!-- breadcrumb -->
				<div class="col-12">
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="/">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">FAQ</li>
					</ul>
				</div>
				<!-- end breadcrumb -->

				<!-- title -->
				<div class="col-12 col-xl-11">
					<div class="main__title main__title--page">
						<h1>FAQ's</h1>
					</div>
				</div>
				<!-- end title -->

			

			<!-- faq -->
			<div class="row row--grid">
				<div class="col-12 col-lg-4">
					<div class="faq">
						<h3 class="faq__title">What collections are listed on the marketplace?</h3>
						<p class="faq__text">Only the collections affiliated with Defydefi launchpad are listed on the marketplace.</p>
					</div>

					<div class="faq">
						<h3 class="faq__title">Can I trade/list NFT to all contracts?</h3>
						<p class="faq__text">No, only a smart contract affiliated with Defydefi, like Bimp, is eligible.</p>
					</div>

					<div class="faq">
						<h3 class="faq__title">What network is this running?</h3>
						<p class="faq__text">Binance Smart Chain Network</p>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="faq">
						<h3 class="faq__title">Can I trade the NFTs that were airdropped to me?</h3>
						<p class="faq__text">Yes, only if the NFT is affiliated with DefyDefi. NFTs earned outside our platform will not be recognized.</p>
					</div>

					<div class="faq">
						<h3 class="faq__title">How can I view my nft?</h3>
						<p class="faq__text">Simply open your wallet's browser, head to NFTmoney.bimp.finance, connect your wallet, and your NFTs will be shown at the bottom panel. To claim, go to Wallet > NFTs > Add NFT > Paste the Address, and copy the NFT ID given on the browser.</p>
					</div>

					<div class="faq">
						<h3 class="faq__title">How can I get NFT?</h3>
						<p class="faq__text">You can buy NFT at DefyDefi.io and Bimp.Finance, win it through lottery at app.defydefi.io, or get it for free by tuning in to our Social Media giveaways.</p>
					</div>
				</div>

				<div class="col-12 col-lg-4">
					<div class="faq">
						<h3 class="faq__title">What currency is used in the marketplace?</h3>
						<p class="faq__text">ETH is used for trading.</p>
					</div>

					<div class="faq">
						<h3 class="faq__title">How to start?</h3>
						<p class="faq__text">Setup your wallet by creating an account and changing the settings to Binance Smart Chain. Here's a tutorial on how to setup BSC on a MetaMask wallet: https://www.facebook.com/100558448943373/posts/121774333488451/ (Uploading right now sa YT 'yung tutorial)</p>
					</div>

					<div class="faq">
						<h3 class="faq__title">How to partner with DefyDefi?</h3>
						<p class="faq__text">Contact us through email info@defydefi.com and attach the proposal, or join us at Telegram t.me/BimpFinance and look for an admin.</p>
					</div>

         
				</div>
			</div>
      <div class="col-12 col-xl-11">
					<div class="main__title main__title--page">
						<p>Note: Legit Defy staff will neither contact you first nor ask for money. Admins have "will not DM you first" on their names.</p>
					</div>
				</div>
     
			<!-- end faq -->
		</div>