<div class="container">
    <div class="row row--grid">
        <!-- authorization form -->
        <div class="col-12">
            <div class="sign">
                <div class="sign__content">
                    <form [formGroup]="form" class="sign__form">
                        <a [routerLink]="['/']"  class="sign__logo">
                            <img src="assets/img/logo.svg" alt="">
                        </a>

                        <div class="sign__group">
                            <input type="email" formControlName="email" class="sign__input" placeholder="Email">
                            <app-error-field [errorMsg]="getForm.email"></app-error-field>
                        </div>

                        <div class="sign__group sign__group--checkbox">
                            <input id="remember" name="remember" type="checkbox" checked="checked">
                            <label for="remember">I agree to the <a href="privacy.html">Privacy Policy</a></label>
                        </div>
                        
                        <button [disabled]="!form.valid" (click)="submitAction()" class="sign__btn" type="button">Send</button>

                        <span class="sign__text">We will send a password to your Email</span>
                        <span class="sign__text">Already have an account? <a [routerLink]="['/auth/login']">Sign In!</a></span>
                    </form>
                </div>
            </div>
        </div>
        <!-- end authorization form -->
    </div>
</div>