<div class="container">
    <div class="row row--grid">
        <!-- registration form -->
        <div class="col-12">
            <div class="sign">
                <div class="sign__content">
                    <form [formGroup]="form" class="sign__form">
                        <a [routerLink]="['/']"  class="sign__logo">
                            <img src="assets/img/logo.svg" alt="">
                        </a>
                        <div class="sign__group">
                            <input type="password" formControlName="password"  class="sign__input" placeholder="New Password">
                            <app-error-field [errorMsg]="getForm.password"></app-error-field>
                        </div>

                        <div class="sign__group">
                            <input type="password" formControlName="confirm_password"  class="sign__input" placeholder="Confirm Password">
                            <app-error-field [errorMsg]="getForm.confirm_password"></app-error-field>
                        </div>
                        
                        <button [disabled]="!form.valid" (click)="submitAction()" class="sign__btn" type="button">Reset Password</button>

                         <span class="sign__text">Already have an account? <a [routerLink]="['/auth/login']">Sign In!</a></span>
                    </form>
                </div>               
            </div>
        </div>
        <!-- end registration form -->
    </div>
</div>