<div class="container">
  <div class="row row--grid">
    <!-- breadcrumb -->
    <div class="col-12">
      <ul class="breadcrumb">
        <li class="breadcrumb__item"><a href="/">Home</a></li>
        <li class="breadcrumb__item breadcrumb__item--active">Privacy policy</li>
      </ul>
    </div>
    <!-- end breadcrumb -->

    <!-- title -->
    <div class="col-12">
      <div class="main__title main__title--page">
        <h1>Privacy policy</h1>
        <p><strong>Last updated: August 05, 2021</strong></p>
        <!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->

        

      </div>
    </div>
    <!-- end title -->
  </div>
</div>