/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';


button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
.asset__author img{
    object-fit: cover;
}